hello
<h1>Hello! Good Morning</h1>
<% @employees.each do |employee| %>
  <%= employee.ename %><br />
<% end %>
<a href="https://www.w3schools.com/html/">Visit our HTML tutorial</a>
<%= link_to "Visit our HTML tutorial", "https://www.w3schools.com/html/" %>